
body{
    background-size: contain;
    background-position-y: 100px
}



.intro::before{
    height:70vh;
}

.zen-resources .ul li{
	display: block;
}

.zen-resources ul li a{
    opacity: 1;
      }
 .zen-resources ul::before{
          display: none;
      }
    
      


.intro::before{
	display: block;
    content: "";
    width: 100%;
    height:50vh;
	background: url("asset/banner.svg") no-repeat top;
	background-size: contain;
}

.participation::after{
	display: block;
    content: "#LightTheWorld";
    width: 100%;
	padding-top:50px;
	padding-bottom: 50px;
	background:$townsection;
	color: $mainColor;
	text-shadow: 1px 1px 1px $hovercolor;
	text-align: center;
	font-size: 2rem;
	margin-top:auto;
	background:$hovercolor;
	border-radius: 10px;
   clip-path: circle(5% at 10% 50%);
    transition: all .5s ease-in-out;
    cursor: pointer;

   
}


.participation:hover::after{
	clip-path: circle(75%);
	background:$townsection;
}

.intro::after{
	display: block;
    content: "";
    width: 100%;
	height:50vh;
	background: url("asset/santa-secret.svg") no-repeat top;
	background-size: contain;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.intro:hover::after{
	width: 100%;
	height:50vh;
	background: url("asset/merry-christmas.svg") no-repeat top;
	background-size: contain;

}
